.idea
*.iml
**/.classpath
**/.project
**/.settings
**/target
**/.DS_Store
**/.idea
**/*.iml
**/*.imlt
**/HBRISTORE
**/derby.log
**/*TempHarness.java
**/.externalToolBuilders
**/coverage-report
**/docdb-entities.dtd
**/.gradle
**/build
**/.clover
**.orig
**/test-output/**
release.properties
