#header()
<h3>Another example</h3>
<form id="uploadForm" method="POST" action="upload" enctype="multipart/form-data">
    <!-- COMPONENT START -->
    <div class="form-group">
        <div class="input-group input-file" name="Fichier1">
            <input type="text" class="form-control" placeholder='Choose a file...'/>
            <span class="input-group-btn">
                <button class="btn btn-info btn-choose" type="button">Choose</button>
            </span>
        </div>
    </div>
    <!-- COMPONENT END -->
    <div class="form-group">
        <button id="uploadBtn" type="submit" class="btn btn-primary pull-right">Submit</button>
    </div>
</form>
#footer()